*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-margin: 100px;
  color: white;
}

body{
  background-color: #2B2B2B;
  font-family: "Work Sans", sans-serif;
}

h3{
  font-size: 38px;
}

button:hover{
  cursor: pointer;
}

li{
  list-style-type: none;
}
a{
  text-decoration: none;
}

header{
  height: 100px;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding:0 54px;
  margin: 0 auto;
  align-items: center;
}

header button{
  border: none;
  padding: 20px 30px;
  display: flex;
  background-color: #A259FF;
  font-weight: 600;
  border-radius: 20px;
  align-items: center;
  gap: 20px;
}

header button img{
  height: 20px;
}

header img{
  height: 32px;
}

.menu_list{
  display: flex;
  gap: 20px;
  align-items: center;
}

main{
  max-width: 1280px;
  margin: auto;
}

main button {
  border: none;
  padding: 20px 50px;
  display: flex;
  background-color: #A259FF;
  font-weight: 600;
  border-radius: 20px;
  align-items: center;
  gap: 12px;
}

.standart_a{
  padding: 80px 115px;
}

.first_container {
  display: flex;
  gap: 30px;
}

.first_container--text{
  width: 510px;
}

.first_container--text h1{
  font-size: 67px;
  font-weight: 500;
  margin-bottom: 20px;
}

.first_container--text p {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 300;
}

.first_container--text button{
  margin: 30px 0;
}

.additional_list{
  display: flex;
  gap: 30px;
}

.additional_list-item{
  flex-basis: 150px;
  display: grid;
}

.additional_list-item h4{
  font-family: "Space Mono", monospace;
  font-size: 28px;
}

.additional_list-item span{
  font-size: 24px;
  font-weight: 300;
}

.first_container--img{
  width: 510px;
  height: 510px;
  border-radius: 20px;
  background-color: #3B3B3B;
}

.artist_card{
  display: grid;
  gap: 10px;
}

.first_container .artist_card{
  padding: 22px 20px;
}

.artist_card h5{
  font-size: 22px;
  font-weight: 500;
}

.artist_card span{
  font-weight: 300;
}

.artist_card--item{
  display: flex;
  gap: 12px;
}

.artist_card--item img{
  height: 24px;
  width: 24px;
}




.trending_title{
  padding: 0 2px;
  margin-bottom: 60px;
}

.trending_title h3{
  font-weight: 500;
  margin-bottom: 10px;
}

.trending_title p {
  font-size: 22px;
  font-weight: 300;
}

.trending_contant{
  display: flex;
  justify-content: space-between;
}

.trending_contant--items{
  margin-bottom: 15px;
}

.trending_contant--items > img{
  width: 330px;
  height: 330px;
  margin-bottom: 15px;
}

.trending_contant--secondary{
  display: flex;
  gap: 15px;
}

.trending_contant--secondary > *{
  width: 100px;
  height: 100px;
}

.trending_contant--secondary > button{
  padding: 0;
  font-family: "Space Mono", monospace;
  font-size: 22px;
}

.trending_contant--secondary > button > a{
  width: 100%;
  vertical-align: middle;
  text-align: center;
}







.top_artists button{
  padding: 18px 48px;
  font-weight: 600;
  border: #A259FF solid 2px;
  background-color: transparent;
}


.top_artists--title {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.top_artists--text h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.top_artists--text p {
  font-size: 22px;
  font-weight: 300;
}

.top_artists--list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.top_artists--card{
  height: 238px;
  width: 240px;
  padding: 20px;
  background-color: #3B3B3B;
  position: relative;
  border-radius: 20px;
  justify-content: space-between;
}

.artist--img{
  margin-bottom: 20px;
  display: flex;
}

.artist--img > span{
  width: 30px;
  height: 30px;
  background-color: #2B2B2B;
  color: #858584;
  text-align: center;
  padding-top: 6px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 18px;
}

.artist--img > img{
  margin: 0 auto;
}

.artist--name > h5{
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 5px;
}

.artist--inf{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.ai_1{
  color: #858584;
  padding-top: 2px;
} 

.ai_2{
  font-family: "Space Mono", monospace;
  color: #fff;
}






.cateries_title{
  margin-bottom: 60px;
}

.cateries_title h3{
  font-weight: 500 ;
}

.categories_list{
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.categories_list--item{
  border-radius: 20px;
  background-color: #3B3B3B;
}

.categories_list--item img{
  width: 100%;
}

.categories_list--item > div{
  padding: 20px 30px;
}

.categories_list--item h5{
  font-size: 22px;
  font-weight: 500;
}




.discover button {
  padding: 18px 48px;
  font-weight: 600;
  border: #A259FF solid 2px;
  background-color: transparent;
}


.discover--title {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.discover--text h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.discover--text p {
  font-size: 22px;
  font-weight: 300;
}

.discover_list{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.discover_list--item{
  width: 330px;
  border-radius: 20px;
  display: grid;
}

.discover_list--item > img{
  width: 100%;
}

.discover_item--inf{
  background-color: #3B3B3B;
  padding: 20px 30px;
  border-radius: 0 0 20px 20px;
}

.nft_inf{
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  margin-top: 25px;
}

.nft_inf-1{
  display: grid;
  gap: 6px;
}

.nft_inf-2 {
  display: grid;
  gap: 6px;
  text-align: end;
}

.nft_inf-11{
  font-family: "Space Mono", monospace;
  font-size: 12px;
  color: #858584;
}